.brand-identity {
    text-decoration: none;
    color: #ff600b;
}

.brand-identity:hover {
    color: #fff;
}

.launch-date {
    display: inline-block;
    background-color: #ff600b;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    width: 160px;
    text-align: center;
    padding: 10px 10px;
    position: absolute;
}

.platform span {
    color: #ff600b;
    font-weight: bold;
}

header, footer {
    background-color: #000;
    padding: 25px 15px;
}

header {
    margin-bottom: 20px;
}

header h3 a {
    font-size: 3.5rem;
}


footer {
    margin-top: 20px;
    color: #ff600b;
    font-size: 1.5rem;
}


footer small {
    float: right;
}

